div{
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: 10px;
    background-color: beige;
    border: 5px solid ;
}

.box{
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: 10px;
    background-color: beige;
    border: 5px solid ;
    box-sizing: border-box;
}

